@import "colors";
@import "variables";

/* ------------------ */
/* Custom Buttons     */
/* ------------------ */

@mixin btn($clr: black, $bg: white) {
  background-color: $bg;
  border: 2px solid $clear;
  border-radius: 0.25em;
  color: $clr;
  display: flex;
  font-family: $ff-primary;
  font-size: $fs-300;
  padding: $base-padding;
  min-height: 35px;

  width: fit-content;

  @if $bg == $yellow {
    &:hover {
      background-color: $clear;
      color: $yellow;
      border: 2px solid $yellow;
    }
  } @else if $bg == $black and $clr == $white {
    &:hover {
      background-color: $clear;
      color: $black;
      border: 2px solid $black;
    }
  } @else if $bg == $clear and $clr == $yellow {
    border: 2px solid $yellow;
    &:hover {
      background-color: $yellow;
      color: $black;
      border-color: $black;
    }
  } @else if $bg == $navy {
    &:hover {
      background-color: $clear;
      color: $navy;
      border-color: $navy;
    }
  } @else if $bg == $white {
    &:hover {
      background-color: $clear;
      color: $white;
      border-color: $white;
    }
  }
}
// .hero-button-1 {
//   @include btn($black, $yellow);
// }
// .hero-button-2 {
//   @include btn($yellow, $clear);
// }
// .hero-button-3 {
//   @include btn($black, $white);
// }
// .hero-button-4 {
//   @include btn($white, $black);
// }
// .hero-button-5 {
//   @include btn($gray, $navy);
// }

/* ------------------ */
/* Nav Bar     */
/* ------------------ */

.navbar-menu {
  display: flex;
  justify-content: center;
  .navbar-wrapper {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    position: fixed;
    width: 100%;
    z-index: 200;
    .navbar {
      display: flex;
      height: 30px;
      justify-content: space-between;
      margin-top: 30px;
      padding: 0px 20px;
      position: relative;
      width: 100%;
      z-index: 200;

      .menu-wrapper {
        align-items: center;
        display: inline-block;
        height: 50px;
        justify-content: center;
        max-width: 100%;
        position: relative;
        width: 50px;
        z-index: 150;

        #burger-white {
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 100%;
          transition: 0.5s;
        }

        #burger-white-2 {
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 0%;
          transition: 0.5s;
        }
      }
    }
  }
}
/* ------------------ */
/* Nav Page     */
/* ------------------ */
.menu-open-wrapper {
  align-items: center;
  background: url(../images/curves-lines-image.jpg),
    $black 50% / cover no-repeat;
  background-blend-mode: multiply;
  bottom: 0%;
  height: 100%;
  justify-content: center;
  left: 0%;
  position: fixed;
  right: 0%;
  top: 0%;
  transform-origin: 50% 0;
  width: 100%;
  z-index: 100;
}
.content-wrapper {
  align-items: flex-start;
  display: flex;
  max-width: 960px;
  position: relative;
  width: 70%;

  .menu-text-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    position: relative;
    z-index: 100;

    .heading1-menu {
      margin-bottom: 30px;
      position: relative;
      overflow: hidden;
      .heading1-menu-sub-wrapper {
        display: flex;
        flex-direction: row;

        .heading1-menu-item {
          font-size: $fs-900;
          color: $yellow;
          font-family: $ff-primary;
          letter-spacing: $letter-spacing-l;
          line-height: 1.7;
          text-decoration: none;

          &.page-transition-anim {
            transition: letter-spacing 0.15s ease-in-out;

            &:hover {
              letter-spacing: 0.65em;
            }
            &.w--current {
              font-weight: 150;
              text-decoration: line-through;
              text-decoration-thickness: 2px;
              text-decoration-skip-ink: none;
              transition: none;
              letter-spacing: $letter-spacing-l;
            }
          }
        }
      }
    }
  }
}
