/* // -----------------Base-------------------------// */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  body {
    max-width: 100%;
    overflow-x: hidden;
    font-size: 16px;
    cursor: none;
    background-color: var(--black);
  }
}

article {
  display: block;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.45rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

.cursor-dot {
  width: 13px;
  height: 13px;
  background-color: #fca311;
}

.cursor-outline {
  width: 48px;
  height: 48px;
  border: 1px solid #fca311;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 500;
  pointer-events: none;
}
/* // -----------------Variables--------------------------// */

@font-face {
  font-family: "azeret_mono";
  src: url("/fonts/AzeretMono-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "azeret_mono_italic";
  src: url("/fonts/AzeretMono-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "gilroy_bold";
  src: url("/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "gilroy";
  src: url("/fonts/Gilroy-Light.otf") format("opentype");
}

:root {
  --ff-primary: "azeret_mono", sanserif;
  --ff-primary-italic: "azeret_mono_italic", sanserif;
  --ff-secondary: "gilroy";
  --ff-secondary-bold: "gilroy_bold";

  --fs-900: 3rem;
  --fs-800: 2.5rem;
  --fs-700: 2rem;
  --fs-600: 1.76rem;
  --fs-500: 1.563rem;
  --fs-400: 1.25rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  --base-padding: 1em;
  --base-button-padding: 0.5em 1.5em;
  --base-margin: 1em;

  --grid-columns: 12;
  --grid-gutter-width: 20px;

  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 1024px;

  --letter-spacing-xs: 0.25rem;
  --letter-spacing-s: 0.35rem;
  --letter-spacing-m: 0.5rem;
  --letter-spacing-l: 0.5rem;

  --navy: #14213d;
  --crimson: #dc143c;
  --yellow: #fca311;
  --gray: #e5e5e5;
  --white: #fff;
  --black: #181818;
  --clear: #00000000;
}
/* // -----------------Components--------------------------// */
button {
  border: 2.5px solid var(--clear);
  font-family: var(--ff-primary);
  font-size: var(--fs-300);
  width: fit-content;
  padding: var(--base-button-padding);
  &.gold-button {
    border-color: var(--yellow);
    background-color: var(--clear);
    color: var(--yellow);
    &:hover {
      background-color: var(--yellow);
      color: var(--white);
    }
  }
  &.black-button {
    border-color: var(--black);
    background-color: var(--clear);
    color: var(--black);
    &:hover {
      background-color: var(--black);
      color: var(--white);
    }
  }
  &.white-button {
    border-color: var(--white);
    background-color: var(--clear);
    color: var(--white);
    &:hover {
      background-color: var(--black);
      color: var(--white);
    }
  }
  &.navy-button {
    border-color: var(--navy);
    background-color: var(--clear);
    color: var(--navy);
    &:hover {
      background-color: var(--navy);
      color: var(--gray);
    }
  }
  &.gray-button {
    border-color: var(--gray);
    background-color: var(--clear);
    color: var(--gray);
    &:hover {
      background-color: var(--gray);
      color: var(--navy);
    }
  }
}

.navbar-menu {
  display: flex;
  justify-content: center;
  .navbar-wrapper {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    position: fixed;
    width: 100%;
    z-index: 200;
    .navbar {
      display: flex;
      height: 30px;
      justify-content: space-between;
      margin-top: 30px;
      padding: 0px 20px;
      position: relative;
      width: 100%;
      z-index: 200;

      .menu-wrapper {
        align-items: center;
        display: inline-block;
        height: 50px;
        justify-content: center;
        max-width: 100%;
        position: relative;
        width: 50px;
        z-index: 150;

        #burger-white {
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 100%;
          transition: 0.5s;
        }

        #burger-white-2 {
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 0%;
          transition: 0.5s;
        }
      }
    }
  }
}
/* ------------------ */
/* Nav Page     */
/* ------------------ */
.menu-open-wrapper {
  align-items: center;
  background: url(../images/curves-lines-image.jpg),
    var(--black) 50% / cover no-repeat;
  background-blend-mode: multiply;
  bottom: 0%;
  height: 100%;
  justify-content: center;
  left: 0%;
  position: fixed;
  right: 0%;
  top: 0%;
  transform-origin: 50% 0;
  width: 100%;
  z-index: 100;
}
.content-wrapper {
  align-items: flex-start;
  display: flex;
  max-width: 960px;
  position: relative;
  width: 70%;

  .menu-text-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    position: relative;
    z-index: 100;

    .heading1-menu {
      margin-bottom: 30px;
      position: relative;
      overflow: hidden;
      .heading1-menu-sub-wrapper {
        display: flex;
        flex-direction: row;

        .heading1-menu-item {
          font-size: var(--fs-900);
          color: var(--yellow);
          font-family: var(--ff-primary);
          letter-spacing: var(--letter-spacing-l);
          line-height: 1.7;
          text-decoration: none;

          &.page-transition-anim {
            transition: letter-spacing 0.15s ease-in-out;

            &:hover {
              letter-spacing: 0.65em;
            }
            &.w--current {
              font-weight: 150;
              text-decoration: line-through;
              text-decoration-thickness: 2px;
              text-decoration-skip-ink: none;
              transition: none;
              letter-spacing: var(--letter-spacing-l);
            }
          }
        }
      }
    }
  }
  .text-menu-text-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 50%;
    z-index: 100;

    .heading2-menu-wrapper {
      margin-bottom: 40px;

      .heading2 {
        color: var(--yellow);
        text-align: left;
        font-family: var(--ff-secondary);
        font-size: var(--fs-600);
        font-weight: 300;
        letter-spacing: var(--letter-spacing-s);
        line-height: 130%;
      }
    }
    .paragraph-menu-wrapper {
      margin-bottom: 10px;
      overflow: hidden;

      .paragraph {
        color: var(--white);
        font-family: var(--ff-secondary);
        font-size: var(--fs-300);
        font-weight: 300;
        line-height: 180%;
        letter-spacing: var(--letter-spacing-xs);
        text-align: left;
      }
    }
  }
  .menu-contact-wrapper {
    text-decoration: none;
    color: var(--yellow);
    font-family: var(--ff-primary-italic);
    line-height: 5;
  }
}
/* // -----------------Home-Page-------------------------// */
/* // -----------------Loader-------------------------// */
.loader {
  background-color: var(--clr-white);
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-family: var(--ff-primary);
  font-size: 5em;
  font-weight: 900;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 1001;
}
/* // -----------------Hero-Section--------------------------// */
.hero-section-wrapper {
  display: block;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 140vh;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 60px;
    left: 7.5%;

    span {
      color: var(--yellow);
      font-variant-numeric: slashed-zero;
      font-family: var(--ff-primary-italic);
      font-size: var(--fs-900);
      font-weight: 500;
      line-height: 2.2;
      letter-spacing: var(--letter-spacing-l);
      text-transform: uppercase;
    }
  }
  .hero-definition {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 55%;
    padding: var(--base-padding);
    position: absolute;
    top: 350px;
    h3 {
      color: var(--white);
      max-width: 400px;
      max-height: 600px;
      font-family: var(--ff-primary);
      font-weight: 200;
      font-size: var(--fs-400);
      letter-spacing: var(--letter-spacing-s);
      margin-bottom: 40px;
      text-wrap: pretty;
      line-height: 1.5;
      text-transform: uppercase;

      &:last-child {
        color: var(--crimson);
      }
    }
  }
  .local-time {
    color: var(--crimson);
    font-family: var(--ff-primary);
    letter-spacing: var(--letter-spacing-m);
    position: relative;
    right: 50px;
    transform: rotate(270deg);
  }
}
/* // -----------------Text-Splitter--------------------------// */
.text-splitter {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 40vh;
  justify-content: center;
  line-height: 1.65;
  position: absolute;
  top: 140vh;
  width: 100%;
  h2 {
    color: var(--black);
    font-family: var(--ff-secondary);
    font-size: var(--fs-600);
    font-weight: 800;
    letter-spacing: var(--letter-spacing-xs);
    max-width: 1200px;
  }
  button {
    margin-top: 30px;
  }
}
/* // ----------------Link-Works-Section--------------------------// */
.projects {
  height: 195vh; /* // ----------------Insert-Break-Point-for-smaller-sizes-140ish (vh)---------------------------// */
  top: calc(140vh + 40vh);
  left: 0;
  background-color: var(--navy);
  position: absolute;
  margin: 10rem 0;
  width: 100%;
  .projects-gallery {
    cursor: grab;
    .projects-wrapper {
      margin: auto;
      width: 125rem;
      .projects-gallery-box {
        font-size: 0;
        margin-top: 2rem;
        .projects-gallery-wrapper {
          display: inline-block;
          justify-content: center;
          align-items: center;
          white-space: nowrap;
          .projects-gallery-media {
            display: inline-block;
            font-size: 0;
            overflow: hidden;
            padding-right: 3rem;
            pointer-events: none;
            position: relative;
            vertical-align: top;
            width: 67rem;
            .projects-gallery-media-box {
              height: 25rem;
              position: relative;
              width: 100%;
              .projects-gallery-media-image {
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
